# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/src/debug
/android/app/src/profile
/android/app/src/release
/logs
/.vs
/*.zip
/dist/*.apk
/dist/*.exe
/dist/*.zip
/dist/*.xcarchive
/dist/karing_*
/bind/apple/Libbox.xcframework
/bind/android
/bind/windows
/.idea/workspace.xml
/lib/app/private
/android/app/build
/.sentry-native
/dist/ios
/dist/macos
/todo.txt
/android/app/.cxx
